<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      dbGenie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="p-terms ion-padding">
  <P>Terms & Condition</P>
  <section class="p-terms__desc">
  <!-- <p> -->
    <ul>
      <li>
        This is a special kind of scheme that offers a blend of savings account liquidity clubbed with high earnings of a fixed deposit by creating a fixed deposit linked to a savings account.
      </li>
      <li>
        The minimum amount to open this account is Rs. 5000
      </li>
      <li>
        Loan facility is available up to 90% of the deposit amount
      </li>
      <li>
        Nomination facility is available
      </li>
      <li>
        Interest is paid only at the time of maturity
      </li>
      <li>
        Tax benefits available under section 80C of Income Tax Act, 1961
      </li>
      <li>
        Resident Indians, HUFs, public or private limited companies, trust, and partnership firms are eligible
      </li>
    </ul>
  <!-- </p> -->
  <!-- <p>
    Phasellus sit amet iaculis odio, eget feugiat erat. Etiam sit amet turpis sit amet massa viverra maximus. Aenean
    venenatis porttitor pharetra. Fusce vulputate urna purus, vel efficitur mauris auctor non. Etiam libero odio,
    sodales in velit a, faucibus venenatis erat. Ut convallis sit amet urna in ultrices. Cras neque est, vehicula sed
    lorem ac, placerat commodo elit. Praesent turpis metus, elementum eget iaculis ac, elementum in odio. Nunc et elit
    faucibus, condimentum mauris consequat, ornare dolor. Sed ac lectus a est blandit tempor. Etiam lobortis tristique
    maximus.
  </p> -->
</section>
  <!-- <ion-checkbox [(ngModel)]="genieCheckbox" (ngModelChange)="checkboxChange()" labelPlacement="end" class="p-terms__checkbox"><div class="ion-text-wrap">I agree to the terms and conditions of dbGenie.</div></ion-checkbox>
  <ion-button color="tertiary" [disabled]="!genieCheckbox" expand="block" (click)="presentAlert()">Activate</ion-button> -->
  <!-- <div><ion-toggle [enableOnOffLabels]="true" justify="space-between">Activate/de-activate dbGenie</ion-toggle></div> -->

  <ion-item>
    <ion-toggle [enableOnOffLabels]="true" justify="space-between" [(ngModel)]="genieCheckbox" (ionChange)="checkboxChange()">Activate/de-activate dbGenie</ion-toggle>
  </ion-item>
</ion-content>