.p-terms{
--ion-background-color: #83c0e1;
ion-checkbox {
    --size: 32px;
    --checkbox-background-checked: #6815ec;
  }
ion-item {
  --inner-border-width: 1px 0 1px 0;
  margin-top: 70px;
}
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #6815ec;
  }

  &__desc{
    font-size: 14px;
  }

  &__checkbox{
    margin: 20px 0 30px 0;
  }
}

  