<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
      <ion-input label="Username" placeholder="Enter user name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Password" type ="password" value="" placeholder="Enter password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button>Login</ion-button>
    </ion-item>
</ion-content> -->



<ion-card>
  <ion-card-header>
    <ion-card-title class="card-center">Login</ion-card-title>
  </ion-card-header>
  <ion-card-content class="card-center">
    <ion-item>
      <ion-input label="Username" [(ngModel)]="username" placeholder="Enter user name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Password" [(ngModel)]="password" type ="password" value="" placeholder="Enter password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="loginUser()">Login</ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>