  <section class="container">
      <div class="login-container">
          <div class="circle circle-one"></div>
          <div class="form-container">
              <img src="../../assets/illustration.png" alt="illustration" class="illustration" />
              <img src="../../assets/lamp.png" alt="logo" class="logo" />
    
              <div class="dbIcon">
                <img src="../../assets/lamp.png">
                <div class="text">FinGin</div>
              </div>
              <form>
                  <input type="text" [(ngModel)]="username" name="username" placeholder="USERNAME" />
                  <input type="password" [(ngModel)]="password" name="password" placeholder="PASSWORD" />
                  <button class="opacity" (click)="loginUser()">LOGIN</button>
              </form>
          </div>
          <div class="circle circle-two"></div>
      </div>
      <div class="theme-btn-container"></div>
  </section>