<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Transaction History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Account number : 5764856846398</ion-card-subtitle>
      <ion-card-subtitle>Account holder name : Mr. Raj Aryan</ion-card-subtitle>
      <ion-card-subtitle>Account type : Savings</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Transactions</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Date</ion-col>
          <ion-col>Type</ion-col>
          <ion-col>Location</ion-col>
          <ion-col>Amount</ion-col>
        </ion-row>
        <div *ngFor="let trn of transactionData">
        <ion-row>
          <ion-col>{{trn.transactionDate | date :'short' }}</ion-col>
          <ion-col>{{trn.comment}}</ion-col>
          <ion-col>{{trn.latitude}}' {{trn.longitude}}"</ion-col>
          <ion-col><ion-icon class="green" *ngIf="trn.type === 'credit'" name="arrow-down-outline"></ion-icon> 
            <ion-icon class="red" *ngIf="trn.type === 'debit'" name="arrow-up-outline"></ion-icon> {{trn.amount}}</ion-col>
        </ion-row>
      </div>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
