.home {
    $self:&;
    &__box{
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    margin: 10px 0px;
    position: relative;
    }
    &__hr {
    border-top: 3px dashed #bbb;
    width: 75%;
    }
    &__amount {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: #05537e;
    }
    &__info {
        margin-bottom: 15px;
        text-align: center;
        #{$self}__type{
            font-size:14px;
            color:grey;
        }
    }
    &__icon {
        text-align: center;
        font-size: 30px;
        color: white;
    }
    &__itext {
        font-size: 16px;
        font-weight: 900;
    }
    &__ricon {
        position: absolute;
        right: 20px;
        top: 41%;
        font-size: 40px;
        color: #05537e;
    }

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 25px;
    right: 20px;
    position: absolute;

}

.avatar {
    width: 85px;
    height: 82px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}
}