<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding home" [fullscreen]="true">
<ion-content>
    <section class="home__box" (click)="details()">
      <div class="home__info">
      <div>Account number : 5764856846398</div>
      <div>Account holder name : Mr. Raj Aryan</div>
      <div>Account type : Savings</div>
      </div>
      <hr class="home__hr">
      <div class="home__amount">Rs 120000</div>
    </section>

    <div class="container" >
      <div class="avatar">
        <a (click)="navigate()">
          <img src="../../assets/icon/genie.jpg" alt="Genie" />
        </a>
      </div>
    </div>
  </ion-content>
</ion-content>
