<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding home" [fullscreen]="true">
<ion-content>
    <section class="home__box">
      <div class="home__info">
      <div>Account number : 5764856846398</div>
      <div>Account holder name : Mr. Raj Aryan</div>
      <div>Account type : Savings</div>
      </div>
      <hr class="home__hr">
      <div class="home__amount">Rs 120000</div>
    </section>
  </ion-content>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="transaction-history">
          <ion-icon name="list"></ion-icon>
          <ion-label>Transaction History</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="genie">
          <ion-icon name="list"></ion-icon>
          <ion-label>Genie</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-content>
